<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <!-- Initialization for data source -->
  <bean id="dataSource" class="oracle.ucp.jdbc.PoolDataSourceImpl">
      <property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource"/>
      <property name="URL" value="jdbc:oracle:thin:@//127.0.0.1:1530/ggbw_vm_pdb.cba.com.au"/>
      <property name="user" value="ucp_user"/>
      <property name="password" value="ucp_user"/>
      <property name="maxPoolSize" value="10"/>
      <property name="initialPoolSize" value="2"/>
  </bean>
  
  <!-- ucpAppContinuityDataSource  JDBC: configured; DB: configured -->
  <bean id="ucpAppContinuityDataSource" class="oracle.ucp.jdbc.PoolDataSourceFactory" factory-method="getPoolDataSource">
	    <property name="URL" value="jdbc:oracle:thin:@(DESCRIPTION = (CONNECT_TIMEOUT=120)(RETRY_COUNT=20)(RETRY_DELAY=3)(TRANSPORT_CONNECT_TIMEOUT=3)(ADDRESS_LIST = (LOAD_BALANCE = ON)(FAILOVER = ON)(ADDRESS = (PROTOCOL = TCP)(HOST = ol7-122-scan)(PORT = 1521)))(CONNECT_DATA = (SERVER = dedicated)(SERVICE_NAME = ucp_ac)))" />
	    <property name="user" value="ucp_owner" />
	    <property name="password" value="ucp_owner" />
	    
	    <!-- oracle.jdbc.pool.OracleDataSource -->
	    <!-- oracle.jdbc.replay.OracleDataSourceImpl -->
	    <!-- oracle.jdbc.replay.OracleConnectionPoolDataSourceImpl -->
	    <property name="connectionFactoryClassName" value="oracle.jdbc.replay.OracleConnectionPoolDataSourceImpl" />
	    <property name="connectionPoolName" value="UCP_POOL" />
	    <property name="minPoolSize" value="2" />
	    <property name="maxPoolSize" value="2" />
	    <property name="initialPoolSize" value="2" />
	    <property name="validateConnectionOnBorrow" value="true" />
	    <property name="maxStatements" value="10" />
	    <property name="loginTimeout" value="30" />
	    <property name="fastConnectionFailoverEnabled" value="true" />
   </bean>
   
   <!-- JDBC: configured; DB: configured -->
   <bean id="transactionManager"
        class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name = "dataSource"><ref local="ucpAppContinuityDataSource"/></property>
   </bean>
  
   <!-- JDBC: configured; DB: configured -->
   <bean id="UcpAcTestSql" class="com.guang.oracle_ucp_test.UcpAcTestSql">
      <property name="dataSource" ref="ucpAppContinuityDataSource"/>
      <property name="transactionManager" ref="transactionManager"/>
   </bean>
   
   <!-- JDBC: configured; DB: not configured -->
   <bean id="ucpNoDbConfAppContinuityDataSource" class="oracle.ucp.jdbc.PoolDataSourceFactory" factory-method="getPoolDataSource">
	    <property name="URL" value="jdbc:oracle:thin:@(DESCRIPTION = (CONNECT_TIMEOUT=120)(RETRY_COUNT=20)(RETRY_DELAY=3)(TRANSPORT_CONNECT_TIMEOUT=3)(ADDRESS_LIST = (LOAD_BALANCE = ON)(FAILOVER = ON)(ADDRESS = (PROTOCOL = TCP)(HOST = ol7-122-scan)(PORT = 1521)))(CONNECT_DATA = (SERVER = dedicated)(SERVICE_NAME = ucp_no_ac)))" />
	    <property name="user" value="ucp_owner" />
	    <property name="password" value="ucp_owner" />
	    
	    <!-- oracle.jdbc.pool.OracleDataSource -->
	    <!-- oracle.jdbc.replay.OracleDataSourceImpl -->
	    <!-- oracle.jdbc.replay.OracleConnectionPoolDataSourceImpl -->
	    <property name="connectionFactoryClassName" value="oracle.jdbc.replay.OracleConnectionPoolDataSourceImpl" />
	    <property name="connectionPoolName" value="UCP_POOL" />
	    <property name="minPoolSize" value="2" />
	    <property name="maxPoolSize" value="2" />
	    <property name="initialPoolSize" value="2" />
	    <property name="validateConnectionOnBorrow" value="true" />
	    <property name="maxStatements" value="10" />
	    <property name="loginTimeout" value="30" />
	    <property name="fastConnectionFailoverEnabled" value="true" />
   </bean>
  
  <!-- JDBC: configured; DB: not configured -->
  <bean id="transactionManagerNoDbConf"
        class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name = "dataSource"><ref local="ucpNoDbConfAppContinuityDataSource"/></property>
  </bean>
  
   <!-- JDBC: configured; DB: not configured -->
  <bean id="UcpNoDbConfAcTestSql" class="com.guang.oracle_ucp_test.UcpNoDbConfAcTestSql">
      <property name="dataSource" ref="ucpNoDbConfAppContinuityDataSource"/>
      <property name="transactionManager" ref="transactionManagerNoDbConf"/>
  </bean>
  
  
   <!-- JDBC: not configured; DB: configured -->
   <bean id="ucpNoJdbcConfAppContinuityDataSource" class="oracle.ucp.jdbc.PoolDataSourceFactory" factory-method="getPoolDataSource">
	    <property name="URL" value="jdbc:oracle:thin:@(DESCRIPTION = (CONNECT_TIMEOUT=120)(RETRY_COUNT=20)(RETRY_DELAY=3)(TRANSPORT_CONNECT_TIMEOUT=3)(ADDRESS_LIST = (LOAD_BALANCE = ON)(FAILOVER = ON)(ADDRESS = (PROTOCOL = TCP)(HOST = ol7-122-scan)(PORT = 1521)))(CONNECT_DATA = (SERVER = dedicated)(SERVICE_NAME = ucp_ac)))" />
	    <property name="user" value="ucp_owner" />
	    <property name="password" value="ucp_owner" />
	    
	    <!-- oracle.jdbc.pool.OracleDataSource -->
	    <!-- oracle.jdbc.replay.OracleDataSourceImpl -->
	    <!-- oracle.jdbc.replay.OracleConnectionPoolDataSourceImpl -->
	    <property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource" />
	    <property name="connectionPoolName" value="UCP_POOL" />
	    <property name="minPoolSize" value="2" />
	    <property name="maxPoolSize" value="2" />
	    <property name="initialPoolSize" value="2" />
	    <property name="validateConnectionOnBorrow" value="true" />
	    <property name="maxStatements" value="10" />
	    <property name="loginTimeout" value="30" />
	    <property name="fastConnectionFailoverEnabled" value="true" />
   </bean>
  
  <!-- JDBC: not configured; DB: configured -->
  <bean id="transactionManagerNoJdbcConf"
        class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name = "dataSource"><ref local="ucpNoJdbcConfAppContinuityDataSource"/></property>
  </bean>
  
  <!-- JDBC: not configured; DB: configured -->
  <bean id="UcpNoJdbcConfAcTestSql" class="com.guang.oracle_ucp_test.UcpNoJdbcConfAcTestSql">
      <property name="dataSource" ref="ucpNoJdbcConfAppContinuityDataSource"/>
      <property name="transactionManager" ref="transactionManagerNoJdbcConf"/>
  </bean>
</beans>